{{> header.hbs}}
    <h1>Produtos</h1>

    <table>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Preço</td>
            <td>Estoque</td>
            <td>Deletar?</td>
        </tr>
        {{#each data}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/products/{{id}}">{{name}}</a></td>
            <td>{{price}}</td>
            <td>{{stock}}</td>
            <td><a href="/products/{{id}}/delete">Deletar</a>(Irá deletar deletar os produtos das ordens)</td>
        </tr>
        {{/each}}
    </table>
    <a href="/products/new">Criar um novo produto</a>
    {{#if delete}}
        <div class="success">Produto deletado com sucesso</div>
    {{/if}}

    {{#if create}}
        <div class="success">Produto criado com sucesso</div>
    {{/if}}
{{> footer.hbs}}