{{> header.hbs}}
    <h1>Venda</h1>

    <table>
        <tr>
            <td>ID</td>
            <td>Cliente</td>
            <td>Preço</td>
            <td>Produtos</td>
            <td>Taxas</td>
        </tr>
        {{#each data}}
            <tr>
                <td>{{id}}</td>
                <td>{{customer}}</td>
                <td>{{price}}</td>
                <td>{{products}}</td>
                <td>{{tax}}</td>
            </tr>
        {{/each}}
    </table>
{{> footer.hbs}}